@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.4rem;
  }

  .navbar ul {
    /*display: none;  later we add mobile menu */
  }
}

/* MOBILE NAV */
.menu-toggle {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.menu-toggle span {
  width: 26px;
  height: 2px;
  background: var(--light);
}

/* MOBILE BREAKPOINT */
@media (max-width: 768px) {

  .menu-toggle {
    display: flex;
  }

  .nav ul {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background: var(--dark);
    flex-direction: column;
    align-items: center;
    gap: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.45s ease;
  }

  .nav ul.open {
    max-height: 420px;
  }

  .nav ul li {
    width: 100%;
    padding: 1.2rem 0;
    text-align: center;
    border-top: 1px solid #222;
  }
}

@media (max-width: 768px) {
  .hero {
    height: auto;
    padding: 8rem 0 5rem;
  }

  .hero h1 {
    font-size: 2.1rem;
  }
  .scroll-cue {
    display: none;
  }

  .about-grid {
    grid-template-columns: 1fr;
  }

  .section {
    padding: 4rem 1.5rem;
  }

  .dish-card img {
    height: 200px;
  }

  .timeline {
    padding-left: 1.5rem;
  }
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-nav ul {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .scroll-cue {
    display: none;
  }
}

@media (max-width: 992px) {

  .grid-2 {
    grid-template-columns: 1fr;
  }

  .grid-4 {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 600px) {

  .grid-4 {
    grid-template-columns: 1fr;
  }

}

@media (max-width: 992px) {
  #testimonials .grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  #testimonials .grid-3 {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 768px) {

  .google-badge {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .google-rating {
    text-align: center;
  }

}
@media (max-width: 900px) {
  .contact-image img {
    height: auto;          /* let height adjust naturally */
    max-height: 350px;
  }

  .btn-whatsapp {
    top: 10px;
    left: 10px;
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}

